@import "@nib-styles/colors";
@import "@nib-styles/sass-spacing";

.micro-header {
  @include py(2);
  position: relative;
  text-align: center;
}

.micro-header--queen-elizabeth {
  background-color: $color-queen-elizabeth;

}

.micro-header--white {
  background-color: $color-white;
}

.micro-header__logo {
  display: inline-block;
  width: 42px;
  height: 22px;
}